@import 'autoload';
html{ scroll-behavior: smooth; }

body{
	margin: 0;
	padding: 0;
	color: $fontColor;
	font-family: $font;
	font-size: $fontSize;
	background: $bgColor;
	
	@import 'components/autoload';
}