.side-right{
    float: right;
    width: 21.9vh;
    font-weight: bold;
    box-sizing: border-box;
    background: $secondColor;
    border-left: $border_size solid $borderColor;

    // TITLE OF SECTION
    .header{
        height: 5vh;
        line-height: 5vh;
        border-bottom: $border_size solid $borderColor;

        .tab{
            width: 50%;
            float: left;
            cursor: pointer;
            line-height: 5vh;
            text-align: center;
            text-decoration: none;
            box-sizing: border-box;
    
            a{
                color: inherit;
                cursor: pointer;
                text-decoration: none;
            }
    
            @include icons{
                width: 4vh;
                text-align: center;
            }

            @include hover($firstColor);
        }

        .actived{ background: $firstColor; }
    }

    // BODY OF PULIBC APIS
    .body{
        padding-bottom: 2vh;
        font-size: $smallFont + .1;

        a{
            color: inherit;
            display: block;
            line-height: 4vh;
            padding-left: 1vh;
            text-decoration: none;
            border-right: none !important;
            border: $border_size solid transparent;

            @include icons{
                width: 3vh;
                opacity: 0;
                float: right;
                line-height: 4vh;
                text-align: center;
            }

            @include hover($firstColor) {
                text-decoration: none;
                border-left: .5em solid $borderColor;
                @include icons{ opacity: 1; }
            }
        }
    }
}