.side-left{
    left: 0;
    width: 98.8vh;
    font-weight: bold;

    // TITLE OF SECTION
    .label{
        cursor: default;
        line-height: 5vh;
        font-size: 1.1em;
        text-decoration: none;

        @include icons{
            width: 4vh;
            text-align: center;
        }

        .button{
            float: right;
            outline: none;
            color: inherit;
            cursor: pointer;
            padding-left: 1vh;
            padding-right: 1vh;
            text-decoration: none;

            @include icons{ color: inherit; }
            @include hover(inherit) { text-decoration: underline; };
        }
    }

    // PINNED REPOSITORIES
    @import "sections/pinned-repos";

    // ARTICLES
    @import "sections/articles";

    // BORDER-RADIUS TOP SIDE
    .btlr{ border-top-left-radius: $border_radius_size; }
    .bblr{ border-bottom-left-radius: $border_radius_size; }

}