$bgColor: #202020;
$fontColor: #BFBFBF;
$firstColor: #292929;
$secondColor: #262626;
$borderColor: rgba(192, 192, 192, .25);
$shadowColor: rgba(112, 112, 112, .125);

// Account color
$darkFontColor: #E0E0E0;
$darkFirstColor: #262626;
$darkSecondColor: #222222;
$darkIconColor: $darkFontColor;

$redColor: #C72C41;
$blueColor: #3769BE;
$greenColor: #009587;
$orangeColor: #D65A31;

$borderColor: rgba(100, 100, 100, .15);
$shadowColor: rgba(112, 112, 112, .125);