$bgColor: #1e1e1e;
$fontColor: #dcdcdc;
$firstColor: #252525;
$secondColor: #292929;
$borderColor: #333333;
$hoverLinkColor: #8cd6ff;
$shadowColor: rgba(0, 0, 0, 0.08);

// Account color
$darkFontColor: #E0E0E0;
$darkFirstColor: #262626;
$darkSecondColor: #222222;
$darkIconColor: $darkFontColor;

$redColor: #C72C41;
$blueColor: #3769BE;
$greenColor: #009587;
$orangeColor: #D65A31;

$shadowColor: rgba(112, 112, 112, .125);