.articles-area{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .article{
        margin: 1vh;
        width: 30.5vh;
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        box-sizing: border-box;
        background: $firstColor;
        border: $border_size solid transparent;

        img{
            width: 100%;
        }

        .title{
            padding: 1vh;
            font-size: 1.5vh;
            font-weight: bold;
            text-align: center;
        }

        .description{
            font-size: 1.35vh;
            font-weight: .75vh;
            text-align: center;
            padding: 1vh 2vh 1vh 2vh;
        }

        @include hover($secondColor) {
            @include drop-shadow-md;
            border-color: $borderColor;
        }
    }

    .no-articles{
        width: 100%;
        opacity: .75;
        font-size: 2vh;
        cursor: default;
        text-align: center;
        padding: 2vh 1vh 2vh 1vh;
    }
}