.content{
	left: 50%;
	width: 120vh;
    display: flex;
	margin-bottom: 4vh;
	position: relative;
	justify-content: flex-start;
	background-color: $firstColor;
	transform: translate(-50%, 5%);

	@import "content/side-left";
	@import "content/side-right";
}