.user-info{
	left: 50%;
	width: 100%;
    display: flex;
    height: 3.5em;
	position: relative;
	align-items: center;
	background: $firstColor;
	@include drop-shadow-sm;
	transform: translate(-50%, 0);

	.logo {
		float: left;
		height: 100%;
		width: 2.5em;
		outline: none;
		cursor: pointer;
		margin-right: auto;
		background-size: 70%;
		box-sizing: border-box;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url($logo);
	}

	nav{
		margin-left: auto;
		justify-content: flex-end;

		.sponsor{
			width: auto;
			float: left;
			color: inherit;
			cursor: pointer;
			font-size: 1.6vh;
			font-weight: bold;
			text-decoration: none;
			padding: 2vh 3vh 2vh 3vh;

			.emoji, .label{
				float: left;
			}

			.emoji{
				opacity: 0;
				margin-right: $padding2;
			}

			&:hover{
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: underline;

				.emoji{
					opacity: 1;
					animation: pulse 1s infinite;
				}
			}
		}

		.item{
			float: left;
			cursor: pointer;
			font-size: 1.6vh;
			padding: 2vh 3vh 2vh 3vh;
			@include hover($firstColor);
		}

		@include icons {
			float: left;
			padding: 2vh;
			color: inherit;
			cursor: pointer;
			font-size: 1.6vh;
			text-decoration: none;
			box-sizing: border-box;
			@include hover($secondColor);
		}
	}
}

@keyframes pulse {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}