.user-info{
	left: 50%;
    height: 10vh;
	width: 120vh;
    display: flex;
	position: relative;
	align-items: center;
	transform: translate(-50%, 0);

	nav{
		margin-left: auto;
		justify-content: flex-end;

		.sponsor{
			width: auto;
			float: left;
			color: inherit;
			cursor: pointer;
			font-size: 1.6vh;
			font-weight: bold;
			text-decoration: none;
			padding: 2vh 3vh 2vh 3vh;

			.emoji, .label{
				float: left;
			}

			.emoji{
				opacity: 0;
				margin-right: $padding2;
			}

			&:hover{
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: underline;
				animation: text-color 1s infinite;

				.emoji{
					opacity: 1;
					animation: pulse 1s infinite;
				}
			}
		}

		.item{
			float: left;
			cursor: pointer;
			font-size: 1.6vh;
			padding: 2vh 3vh 2vh 3vh;
			@include hover($firstColor);
		}

		@include icons {
			float: left;
			color: inherit;
			cursor: pointer;
			font-size: 1.6vh;
			text-decoration: none;
			box-sizing: border-box;
			padding: 2vh 2vh 2vh 2vh;

			@include hover($secondColor) {
				@include drop-shadow-md;
			};
		}
	}
}

@keyframes pulse {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

@keyframes text-color {
    0% { color: inherit; }
    100% { color: $hoverLinkColor; }
}